/include/cppad
/temp_cppad_install
/test/test_codegen_files
doc/html
**/build
**/devel
**/bin
**/lib
**/msg_gen
**/srv_gen
**/qtcreator-build
**/cmake-build-*/
.vscode/
.idea/
.project
*~
*.backup
*.user
*.autosave
*.orig
*.rej
*.pyc
*.idea
